

/* carousel styling */
.carousel-inner .carousel-img{
    width: 100%;
    height: 700px;
    overflow: hidden;
}
/* about us styles*/
.aboutus-line{
    display: inline-block;
    width: 30px;
    height: 5px;
    color: gold;
    background-color: gold;
}
.aboutus-img{
    width: 650px;
    height: 550px;
}
/* contact stylings */
.contact-banner{
    width: 100%;
    height: 600px;
}
.contact-right .btn{
    background-color: gold;
}


/* footer styling */
.brnd-info{
    border: 4px dotted gray;

}
.footer-icons .bi{
    transition: all .3s linear;
}
.footer-icons .bi:hover{
    color: gold;
}
.copyrights{
    border: 4px dotted gray;
}
